In [1]:
# # fig03_03.py
"""Using nested control statements to analyze examination results."""

# initialize variables
passes = 0  # number of passes
failures = 0  # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('Enter result (1=pass, 2=fail): '))
    
    while result!=1 and result!=2:
        print('invalid entry')
        result = int(input('Enter result (1=pass, 2=fail): '))

    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
   

# termination phase
print('Passed:', passes)
print('Failed:', failures)

if passes > 8:
    print('Bonus to instructor')

Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  2
Enter result (1=pass, 2=fail):  2
Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  2
Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  1
Enter result (1=pass, 2=fail):  1

Passed: 7
Failed: 3

In [9]:
a=b=7
print('a=',a,'\nb=',b)

a= 7
b= 7

In [17]:
for row in range(10):
    for column in range(10):
        print('<' if row%2 == 1 else '>', end='')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

In [20]:
for row in range(2):
    for column in range(7):
        print('@',end='')
    print()

@@@@@@@
@@@@@@@

In [ ]:
# fig02_01.py
"""Compare integers using if statements and comparison operators."""

print('Enter two integers and I will tell you', 
      'the relationships they satisfy.')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

In [22]:
q1=input('what is your problem?')
q2 = input('have you had this problem before (yes or no)?')
if q2 == 'yes':
    print('well, you have it again')
else:
    print('well, you have it now')

what is your problem? eye pain
have you had this problem before (yes or no)? no

well, you have it now

In [30]:
num = [0,1,2,3,4,5]
print('number\t','sqaure\t','cube')
for numbers in num:
    print(f'{numbers:>6}{numbers**2:>9}{numbers**3:>6}')

number	 sqaure	 cube
     0        0     0
     1        1     1
     2        4     8
     3        9    27
     4       16    64
     5       25   125

In [31]:
num = []
y=1
for n in range(4):
    x = int(input('enter 4 integers'))
    num.append(x)
    
print(num)

enter 4 integers 2
enter 4 integers 3
enter 4 integers 6
enter 4 integers 9

[2, 3, 6, 9]

In [33]:
sum(num)

20

In [35]:
sum(num)/4

5.0

In [36]:
x = 42339
y = 10000
while x>1:
    print(x//y,end=" ")
    x = x%y
    y = y//10

4 2 3 3 9

In [44]:
p = 1000
r = .07
n = [10,20,30]
for year in range(1,31):
    a=p*((1+r)**year)
    print (a)

1070.0
1144.9
1225.0430000000001
1310.7960100000003
1402.5517307000005
1500.7303518490005
1605.7814764784307
1718.186179831921
1838.4592124201556
1967.1513572895665
2104.8519522998363
2252.191588960825
2409.845000188083
2578.534150201249
2759.031540715336
2952.16374856541
3158.8152109649886
3379.932275732538
3616.5275350338165
3869.6844624861833
4140.562374860217
4430.401741100432
4740.5298629774625
5072.366953385886
5427.432640122897
5807.352924931501
6213.867629676706
6648.838363754076
7114.257049216862
7612.255042662042

In [47]:
355//10

35

In [49]:
3//10

0

In [57]:
x = int(input ('enter a five digit number'))
old_num = x
y = 0
while x > 0:
    y = (y*10) + (x%10)
    x = x//10
print(y)
if old_num==y:
    print('the number is pallindrome')
else:
    print('sorry')

enter a five digit number 12321

12321
the number is pallindrome

In [62]:
gallons = 0
miles = 0
g = float(input('enter gallons, -1 to end'))

while g != -1:
    m = float(input('enter miles driven'))
    print('miles/gallon for this tank was', m/g)
    gallons += g
    miles +=m
    g = float(input('enter gallons, -1 to end'))

if g == -1:
    print('the overall miles/gallon was', miles/gallons)

enter gallons, -1 to end 12.8
enter miles driven 287

miles/gallon for this tank was 22.421875

enter gallons, -1 to end 10.3
enter miles driven 200

miles/gallon for this tank was 19.41747572815534

enter gallons, -1 to end 5
enter miles driven 120

miles/gallon for this tank was 24.0

enter gallons, -1 to end -1

the overall miles/gallon was 21.601423487544483

In [109]:
n = int(input('enter a number'))
ans = 1
while n > 0:
    ans = ans * (n)
    n = n-1
print(ans)

enter a number 1

1

In [75]:
con = 4
den = 1 
pie = con - con/den
pie

2.666666666666667

In [96]:
num = 4
den = 1
pi = 0

for i in range(10):
    if i%2 == 0:
        pi = pi + num/den
        print(pi,den,i)
    else:
        pi = pi - num/den
        print(pi,den,i)
    den = den+2

4.0 1 0
2.666666666666667 3 1
3.466666666666667 5 2
2.8952380952380956 7 3
3.3396825396825403 9 4
2.9760461760461765 11 5
3.2837384837384844 13 6
3.017071817071818 15 7
3.2523659347188767 17 8
3.0418396189294032 19 9

In [107]:
def myfact(den):
    n = den
    ans = 1
    while n > 0:
        ans = ans * (n)
        n = n-1
    return(ans)

num = 1
deno = 0
e = 0
for den in range(10):
    e = e + num/myfact(deno)
    deno +=1
    print(e)

1.0
2.0
2.5
2.6666666666666665
2.708333333333333
2.7166666666666663
2.7180555555555554
2.7182539682539684
2.71827876984127
2.7182815255731922

In [ ]:
for i in range(10):
    x = int(input('enter a number'))
    y = x

In [122]:
numbers = [20,997,78,89,75,50,62,103,43,101]
largeone = 0
largetwo = 0
for i in numbers:
    temp = i
    if temp > largeone:
        largetwo = largeone
        largeone = temp
        print(temp,largeone,largetwo)
    elif temp > largetwo:
        largetwo = temp
        print(temp, largeone,largetwo)
    else:
        largetwo = largetwo
        print(temp, largeone,largetwo)
print(largeone,largetwo)

20 20 0
997 997 20
78 997 78
89 997 89
75 997 89
50 997 89
62 997 89
103 997 103
43 997 103
101 997 103
997 103

In [210]:
#print triangles
for i in range(11):
    for j in range(i):
        print('*',end='')
    print()
print()

for i in range(10,0,-1):
    for j in range(i):
        print('*',end='')
    print()
print()

for i in range(10,0,-1):
    #print('i=',i)
    for k in range(10-i):
        print(' ',end='')
    
    for j in range(i,0,-1):
        print('*',end='')
    print()

for i in range(11):
    #print('i=',i)
    for k in range(10-i):
        print(' ',end='')
    
    for j in range(i,0,-1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

**********
*********
********
*******
******
*****
****
***
**
*

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [227]:
#pythagorean triples
for c in range(1, 20):
    for b in range(1, c):
        for a in range(1, b):
            if a*a + b*b == c*c:
                print (a, b, c)

3 4 5
6 8 10
5 12 13
9 12 15
8 15 17

In [234]:
53%2

1

In [267]:
#Binary to decimal
power = 0
num = 0
d=10011
while d!=0:
    r = d%10
    num = num + (r*(2**power))
    power += 1
    d=d//10
print(num)

19

In [5]:
cost = float(input("enter purchase price"))
change = int((1-cost)*100)
quarter = change//25
x=change%25
dimes=x//10
y=x%10
nickels=y//5
z=y%5
pennies=z//1
print('your change is: ',quarter,'quarter(s)',dimes,'dimes(s)',nickels,'nickel(s)',pennies,'pennies')

enter purchase price .85

your change is:  0 quarter(s) 1 dimes(s) 1 nickel(s) 0 pennies